services:
  # Backend FastAPI
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: logistica-backend
    restart: unless-stopped
    volumes:
      - ./backend:/app/backend
      - ./data:/app/data
    networks:
      - web
    expose:
      - "8000"

  # Frontend Nginx
  frontend:
    build: .
    container_name: logistica-frontend
    restart: unless-stopped
    ports:
      - "8085:80"
    volumes:
      - ./data:/usr/share/nginx/html/data:ro
    depends_on:
      - backend
    networks:
      - web

networks:
  web:
    driver: bridge
